.form-control:focus {
  border-color: #333;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
textarea {
  width: 100%;
  min-height: 250px;
  resize: none;
}
.shift {
  width: 80px;
}
.arrows {
  font-size: 24px;
  cursor: pointer;
}
.chart {
  width: 300px;
  height: 150px;
  margin: 20px 0 20px 0;
}
.alert {
  margin: 0 auto;
  width: 80%;
}
.vertical-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.vertical-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .alert {
    width: 90%;
  }
  .vertical-row, .vertical-column {
    display: block;
    text-align: center;
    ;
  }
  .shift {
    width: 50%;
    margin: 0 auto;
  }
}

.rotate {
  text-align: center;
}